<!DOCTYPE html>
<html>
	<head>
		<title>Here is the opening</title>
		<style>
			header{
				background-color: lightblue;
			}
			nav{
				text-align: right;
			}
			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
			}
			li{
				margin: 0 40px;
				display: inline-block;
			}
			section{
				background-color: blue;
				height: 450px;
			}
			footer{
				background-color: darkblue;
				height: 40px;
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>Navigation 1</li>
					<li>Navigation 2</li>
					<li>Navigation 3</li>
				</ul>
			</nav>
		</header>